:root {
  --violet: #b6b0fd;
  --vert: #c6e2b8;
  --beige: #e9e6e2;

  --primaryContent: #262626;
  --secondaryContent: #404040;
  --tertiaryContent: #808080;

  --primarySurface: #ffffff;
  --secondarySurface: #f8f8f6;
  --tertiarySurface: #e9e6e2;
}
